body {
  font-family: sans-serif;
  margin: 0;
  background-color: #e7f0fd;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(87, 87, 87);
  height: 50px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  border-radius: 7px;
}

.logo_market {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  float: left;
}

.img-with-text {
  text-align: justify;
  width: 40px;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}

.cartlogo {
  width: 40px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

.fa-search:before {
  content: "\f002";
}

.fa-search {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}

.marque {
  float: left;
  padding: 14px;
  margin: 0;
  color: #1da0f2;
  font-family: sans-serif;
}

.Tosell {
  float: left;
  background: #1da0f2;
  color: #fff;
  border: none;
  font-weight: 600;
  font-family: sans-serif;
  -webkit-border-radius: 5px;
  padding-top: 0px;
  margin-top: 2px;
  margin-right: 10px;
}

.image-centrale {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
}

.Tosell2 {
  float: left;
  color: #fff;
  border: none;
  font-weight: 600;
  font-family: sans-serif;
  -webkit-border-radius: 5px;
  padding-top: 0px;
  margin-top: 2px;
  margin-right: 10px;
}

.produits {
  margin-bottom: 13%;
  left: 7%;
  position: relative;
  float: left;
  width: 866px;
  margin-right: -27%;
  top: 5%;
}

.bloc:hover {
  background-color: gray;
  border-radius: 7px;
  cursor: pointer;
}

.bloc {
  width: 300px;
  text-decoration: none;
  color: black;
  height: 217px;
  position: absolute;
}

.p {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 34%;
}
